@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Shadcn light slate */
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  /* Shadcn dark slate */
  .dark-slate {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }

  /* Custom color pallete */
  .dark {
    --brand: 234 83% 68%;

    --background: 210 8% 5%;
    --foreground: 210 40% 98%;
    --muted: 240 4% 14%;
    --muted-foreground: 220 1% 59%;
    --border: 240 4% 14%;
    --ring: 210 40% 98%;
    /* Uptrend green */
    --accent-100: 130 66% 58%;
    /* Uptrend red */
    --accent-200: 3 100% 59%;

    --card: 210 8% 5%;
    --card-foreground: 210 40% 98%;

    --popover: 210 8% 5%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 240 4% 9%;

    --secondary: 240 4% 14%;
    --secondary-foreground: 210 40% 98%;

    --accent: 240 4% 14%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --input: 240 4% 14%;
  }
}

/* 
Custom tailwind classes group. Avoids repetitive uses of classes and promotes uniformity. Only font size, font weight, letter spacing, and line height classes will be included, other classes such as text color will have to be specified as a different color might be used. 

If any changes are to be done to the typography, do them here.
*/
@layer components {
  .text-display {
    @apply text-5xl font-bold leading-normal tracking-tighter;
  }
  .text-heading-100 {
    @apply text-2xl font-semibold leading-normal tracking-tight;
  }
  .text-heading-200 {
    @apply text-xl font-medium leading-normal tracking-normal;
  }
  .text-body-100 {
    @apply text-base font-normal leading-normal tracking-wide;
  }
  .text-body-200 {
    @apply text-xs font-normal leading-normal tracking-wider;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
